html,
body{
	font-family: Roboto;
	text-transform: uppercase;
	height: 100%;
	text-align: center;
	font-weight: 16px;
}
.container{
	background: url(img/background.jpg) no-repeat center center fixed;
	background-size: cover;
	
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	align-items: center;
    align-content: center; 
}

.item{
	background-color: white;
	border-radius: 5px;
}
div.labels{
	padding-top: 10px
}
label {
  background: #CCC;
  display: inline-block;
  cursor: pointer;
  width: 7px;
  height: 7px;
  border-radius: 5px;

}
label.checked{
	background: #333;
}
h1{
	padding: 20px;
	font-weight: 200;
	font-weight: 1.5em;
	margin-top: 0;
}
.card{
	border-top: 1px solid #ebebeb; 
	padding: 10px;
	color: #bdc3c7;
	text-align: left;
	padding-left: 20px;
	line-height: 2em;
	display: flex;
}
.card:hover{
	color: black;
	background-color: #bdc3c7;
	cursor: pointer;
}
.card.active{
	color: black;	
}
.card-svg{
	width: 36px;
	vertical-align: middle;
	padding-right: 20px;
	margin-top: 1.1em;
}
button{
	padding: 20px;
	background-color: #5A8CD7;
	color: white;
	border: 0;
	width: 100%;
	text-transform: uppercase;
}
button:hover{
	background-color: rgb(75,131,241);
	cursor: pointer;
}
img.check{
	float: right;
}
button > img{
	width: 15px;
}